body {
    background-color: #F3F3F3;
}

.gratibum {
    // position: relative;

    .app-header {
        position: relative;
        height: 80px;
        width: 100vw;

        background-color: #E4D3D3;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;

        color: #5A2356;
        
        h2 {
            position: absolute;
            text-align: center;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            font-style: italic;
        }

        .profile-icon {
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
        }
    }

    .test-greeting {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        text-align: center;

        button {
            width: 131px;
            height: 33px;
    
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
            background: $lightPurple;
            color: #fff;
            border-radius: 20px;
            margin-top: 15px;
    
            outline: none;
            border: none;
            cursor: pointer;
        }
    }

    .create {
        position: absolute;
        bottom: 20px;
        right: 20px;

        cursor: pointer;
    }
}