body {
    background-color: #F3F3F3;
    overflow: hidden;
}

.gratibum { 
    .app-header{
        // position: ;

        .user-img {
            position: absolute;
            right: 10px;
            top: 10px;
            cursor: pointer;

            img { 
                width: 50px;
                height: 50px;
                border: 3px solid #CEA281;
                border-radius: 100%;
            }
        }
    }

    .entries {
        display: flex;
        flex-direction: column;
        // justify-content: space-between;

        // margin-top: 25%;
        overflow-y: auto;

        
        .gratitude {
            width: 80%;
            height: 350px;
            position: relative;
            transform: translate(0, 60%);
            margin-bottom: 45px;
            
            // border: 1px solid #030303;
            // border-radius: 20px;

            .image {
                height: 50%;
                // width: 100%;
                
                
                img { 
                    height: 100%;
                    width: 100%;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                    border: 1px solid #CEA281;
                    // width: 50%;
                }
            }

            .text {
                background-color: #CEA281;
                height: 50%;
                bottom: 0;

                text-align: center;
                padding-top: 20px;

                border-bottom-left-radius: 20px;
                border-bottom-right-radius: 20px;

                h2 {
                    font-style: italic;
                    color: #50434F;
                    margin-bottom: 15px;
                    // margin-top: ;
                }
            }

            .more {
                
                // img {
                    width: 35px;
                    position: absolute;
                    right: 5px;
                    bottom: 0px;
                    cursor: pointer;
                // }
            }
        }
    }

    .create {
        position: absolute;
        bottom: 20px;
        right: 20px;

        cursor: pointer;
    }
}

.gratibum-small {
    // position: relative;

    .app-header {
        position: relative;
        height: 80px;
        width: 100vw;

        background-color: #E4D3D3;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;

        color: #5A2356;
        
        h2 {
            position: absolute;
            text-align: center;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            font-style: italic;
        }

        .profile-icon {
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
        }
    }

    .entries { 
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        top: 80px;
        height: calc(100vh - 80px);

        // border: 2px solid pink;

        // .test-greeting {
        //     position: absolute;
        //     top: 50%;
        //     transform: translateY(-50%);
        //     width: 100%;
        //     text-align: center;
        // }
    }

}

.gratibum-large { 
    .app-header {
        position: absolute;
        height: 100%;
        width: 30%;

        background-color: #E4D3D3;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;

        color: #5A2356;
        
        h2 {
            position: absolute;
            text-align: center;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            font-style: italic;
        }

        .profile-icon {
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
        }
    }

    .entries { 
        position: absolute;
        right: 0;
        width: 70%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
    }
}