.profile-page {
    .profile-page-header { 
        h2 { 
            font-style: italic;
        }
    }

    img {
        width: 150px;
        height: 150px;
        border: 2px dashed black;
        border-radius: 100%;
        cursor: pointer;
    }

    .select-language-profile {
        position: absolute;
        top: 60%;
        left: 71%;
    }
}

.profile-page-large { 
    
    .profile-page-info {
        position: absolute;
        width: 55%;
        height: 100%;
        right: 0;
        

        display: flex;
        flex-direction: column;
        align-items: center;

        text-align: center;

        .user-info {
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            top: 40%;
            transform: translateY(-50%);
            width: 100%;
            height: 40%;
            // border: 1px solid #50434F;

            h2 { 
                color: #CFAC91;
            }

            h3 { 
                color: #3E253C;
            }


            button {
                width: 131px;
                height: 33px;
        
                font-family: 'Roboto', sans-serif;
                font-weight: bold;
                background: #E4D3D3;
                color: #fff;
                border-radius: 10px;
                margin-top: 15px;
                color: #5A2356;
                outline: none;
                border: none;
                cursor: pointer;
            }
    
        }


        .about-gratibum { 
            position: absolute;
            bottom: 15px;
            left: 50%;
            transform: translateX(-50%);
            text-decoration: underline;
            cursor: pointer;

            p {
                font-style: bold;
            }
        }
    }
}

.profile-page-small { 
    .profile-page-info {
        position: absolute;
        width: 100%;
        height: 70%;
        bottom: 0;

        display: flex;
        flex-direction: column;
        align-items: center;

        text-align: center;

        .user-info {
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            top: 20px;
            width: 100%;
            height: 50%;
            // border: 1px solid #50434F;

            h2 { 
                color: #CFAC91;
            }

            h3 { 
                color: #3E253C;
            }


            button {
                width: 131px;
                height: 33px;
        
                font-family: 'Roboto', sans-serif;
                font-weight: bold;
                background: #E4D3D3;
                color: #fff;
                border-radius: 10px;
                margin-top: 15px;
                color: #5A2356;
                outline: none;
                border: none;
                cursor: pointer;
            }
        }

        .about-gratibum { 
            position: absolute;
            bottom: 15px;
            left: 50%;
            transform: translateX(-50%);
            text-decoration: underline;
            cursor: pointer;

            // width: 100%;
            text-align: center;

        }
    }

    .select-language-profile {
        position: absolute;
        top: 70%;
        left: 45%;
        transform: translateX(-50%);
    }
}