.error, .error-md {
    color: rgb(107, 7, 99);
    font-weight: bold;

    position: absolute;
    text-align: center;
    font-size: 14px;
}

.error-md {
    bottom: 70px;
    width: 100%;
}

.sign-up-page-large {
    .error {
        bottom: 21%;
        width: 55%;
        right: 0;
    }
}

.sign-up-page-small {
    .error {
        top: 82%;
        width: 100%;
    }
}

.login-page-small {
    .error {
        top: 75%;
        width: 100%;
    }
}

.login-page-large {
    .error {
        bottom: 21%;
        width: 55%;
        right: 0;
    }
}

.googleAuth {
    position: relative;
    // bottom: 0;
}